{{define "post_fuel_usages"}}

<tbody id="tbody">
  {{range .Data}}
    <tr class="border-b dark:border-gray-700">
      <th scope="row" class="px-2 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {{.FuelUseDate}}</th>
      <td class="px-2 py-3">{{.FuelUsers}}</td>
      <td class="px-2 py-3">{{.Description}}</td>
      <td class="px-2 py-3 max-w-[12rem] truncate">{{.KilometerBeforeUse}}</td>
      <td class="px-2 py-3">{{.KilometerAfterUse}}</td>
      <td class="px-2 py-3">{{.TotalMoney}}</td>
    </tr>
  {{ end }}
</tbody>

<div id="allUser" class="flex flex-row space-x-5" >
  {{range .AllUsers}}
    <div class="flex items-center mb-4">
      <input id="userIdCheckbox" name="userIdCheckbox" type="checkbox" value="{{.ID}}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
      <label for="userIdCheckbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{.Nickname}}</label>
    </div>
  {{end}}
</div>

<div id="kilometerBeforeUse">
  <label for="kilometerBeforeUse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">น้ำมันเริ่มต้น(กม.) อิอิ <span class="text-red-600">*</span></label>
  <input type="number" name="kilometerBeforeUseInput" id="kilometerBeforeUseInput" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" value="{{.LatestKilometerAfterUse}}" required>
</div>

<div id="kilometerAfterUse">
  <label for="kilometerAfterUse" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">น้ำมันสิ้นสุด(กม.) อิอิ <span class="text-red-600">*</span></label>
  <input type="number" name="kilometerAfterUseInput" id="kilometerAfterUseInput" onchange='calculateTotalMoney("{{.LatestFuelPrice}}")' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
</div>

<div id="fuelPrice">
  <input type="hidden" name="fuelPrice" value="{{.LatestFuelPrice}}">
</div>

{{end}}